In [1]:
import pandas as pd

# Read and CSV

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,02-Mar-2022,71.20,70.10,73.60,70.1,72.05,71.85,71.99,219912,158.31,2642,115094,52.34
1,21STCENMGM,EQ,02-Mar-2022,30.20,29.60,29.60,29.6,29.6,29.60,29.60,1209,0.36,45,1209,100
2,3IINFOLTD,EQ,02-Mar-2022,51.45,51.05,51.35,49.1,49.4,49.45,50.01,1092731,546.43,7273,625130,57.21
3,3MINDIA,EQ,02-Mar-2022,21208.40,21480.00,21480.00,20730.0,20925,20923.10,21006.28,1823,382.94,1120,1137,62.37
4,3PLAND,BE,02-Mar-2022,15.55,15.90,16.15,14.8,15.65,15.50,15.46,8318,1.29,70,-,-

In [4]:
print(df['PREV_CLOSE'].dtype)

float64

In [5]:
print(df['TTL_TRD_QNTY'].dtype)

int64

In [6]:
print(df['SERIES'].astype('category'))

0        EQ
1        EQ
2        EQ
3        EQ
4        BE
       ...
2189     EQ
2190     EQ
2191     EQ
2192     EQ
2193     EQ
Name: SERIES, Length: 2194, dtype: category
Categories (70, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' ZA', ' ZF', ' ZG', ' ZK']

# writing A CSV

In [7]:
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[2,7,3,33],[3,6,8,23],[23,23,63,12]],columns=['A1','B1','C1','D1'])

In [8]:
df1.head()

   A1  B1  C1  D1
0   1   2   3   4
1   5   6   7   8
2   2   7   3  33
3   3   6   8  23
4  23  23  63  12

In [9]:

df1.to_csv('export.csv',index=False)

In [10]:
df1.to_csv('export.csv',header=bool)

In [11]:
df1.to_csv('export.csv',compression='infer')